DEBUG=1
SECRET_KEY=django-insecure-hospital-management-system-secret-key-2024
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=medicare_db
POSTGRES_USER=medicare_user
POSTGRES_PASSWORD=medicare_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SETTINGS_MODULE=hospital_management.settings
